{% from 'macros/show_modal.html' import show_modal %}
{% from 'macros/select_authors_and_docs.html' import select_authors_and_docs %}
{% extends 'template.html' %}
{% set active_page = 'algo' %}

{% block title %}{{ title }}{% endblock %}

{% block self_style %}
<style>
    #container {
        height: 400px;
        min-width: 310px;
        max-width: 800px;
        margin: 0 auto;
    }

    #sortable1,
    #sortable2,
    #x-axis,
    #y-axis,
    #z-axis {
        border: 1px solid #eee;
        width: 142px;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;
    }

    #sortable1 li,
    #sortable2 li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
        width: 120px;
    }
</style>
{% endblock %}

{% block body %}

{{ select_authors_and_docs(authors_list) }}

<div id="dimenison_select" class="row form-group" style="display: none;">
    <div class="col-lg-1">
        <select id="select_dimensions" class="form-control">
            <option value="ss">3d</option>
            <option value="s1">x-y</option>
            <option value="s2">y-z</option>
            <option value="s3">x-z</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div id="container" style="height: 600px"></div>
    </div>

    <div class="col-lg-3">
        <table class="table table-striped" id="distance_table" style="display: none;">
            <thead>
                <tr>
                    <th>Documents</th>
                    <th>Hausdorff Distance</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div id="dimension_drag_and_drop" class="row" style="display: none;">
    <div class="col-lg-2 list">
        <h3>x-axis</h3>
        <ul id="x-axis" class="connectedSortable">
            <li id="f1" class="ui-state-default">Feature 1</li>
        </ul>
    </div>

    <div class="col-lg-2 list">
        <h3>y-axis</h3>
        <ul id="y-axis" class="connectedSortable">
            <li id="f2" class="ui-state-default">Feature 2</li>
        </ul>
    </div>

    <div class="col-lg-2 list">
        <h3>z-axis</h3>
        <ul id="z-axis" class="connectedSortable">
            <li id="f3" class="ui-state-default">Feature 3</li>
        </ul>
    </div>

    <div class="list">
        <h3>Feature List</h3>
        <ul id="sortable1" class="connectedSortable">
            <li id="f4" class="ui-state-default">Feature 4</li>
            <li id="f5" class="ui-state-default">Feature 5</li>
            <li id="f6" class="ui-state-default">Feature 6</li>
            <li id="f7" class="ui-state-default">Feature 7</li>
            <li id="f8" class="ui-state-default">Feature 8</li>
        </ul>
    </div>

</div>

<template id="distance_details">
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</template>

{{ show_modal() }}

{% endblock %}

{% block external_js %}
<!-- Highcharts JavaScript -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/stylometry/{{ url_for('static', filename='js/chart_external_js_func/scatter_graph_lib.js') }}"></script>
<script src="/stylometry/{{ url_for('static', filename='js/chart_external_js_func/chart_external.js') }}"></script>
<script
    src="/stylometry/{{ url_for('static', filename='js/chart_external_js_func/chart_external_all_features.js') }}"></script>
<script src="/stylometry/{{ url_for('static', filename='js/chart_external_js_func/draw_graph.js') }}"></script>
<script src="/stylometry/{{ url_for('static', filename='js/get_doc_content.js') }}"></script>
{% endblock %}