{% from 'macros/show_modal.html' import show_modal %}
{% extends 'template.html' %}
{% set active_page = 'charts' %}

{% block title %}{{ title }}{% endblock %}

{% block self_style %}
    <style>
        #container {
            height: 400px;
            min-width: 310px;
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="row" id="warning_banner" style="display: none">
        <div class="alert alert-warning col-lg-9">
            <strong>Warning! </strong>
            <i>At least 2 documents must be chosen for comparison.</i>
        </div>
    </div>

    <div class="row" id="display_doc_form" style="display: none;">
        <div class="col-lg-9">
            <form class="margin-bottom-40" role="form">
                <div class="form-group">
                    <table class="table table-striped" id="confirm_table">
                        <thead>
                        <tr>
                            <th>Author Name</th>
                            <th>Document Title</th>
                            <th>Read me</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Table content is to be inserted by JQuery -->
                        </tbody>
                    </table>
                </div>
                <div class="form-group" id="display_form_confirm" style="display: none;">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="pca"> With PCA
                        </label>
                    </div>
                    <button type="button" class="btn btn-success btn-md" id="compare" onclick="get_csv_by_doc_list()">
                        Compare
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" id="author_doc_form">
        <div class="col-lg-9">
            <form class="margin-bottom-40" role="form">
                <div class="form-group" id="author_form">
                    <label>Select author (select one):</label>
                    <select class="form-control" name="author_select" id="author_select">
                        <option value="" selected>-- Choose an author from the list --</option>
                        {% for row in authors_list %}
                            <option value="{{ row['author_id'] }}">{{ row['author_name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" id="document_form" style="display: none;">
                    <label>Select a document written by this author:</label>
                    <select class="form-control" name="doc_select" id="doc_select"></select>
                </div>
                <button type="button" class="btn btn-primary btn-md" style="display: none;" id="submit"
                        onclick="add_rows_to_table()">Add to table
                </button>
            </form>
        </div>
    </div>

    <div class="row">
        <select id="viewSelect">
            <option value="ss">3d</option>
            <option value="s1">x-y</option>
            <option value="s2">y-z</option>
            <option value="s3">x-z</option>
        </select>
        <input type="button" id="driver" value="Show Graph">
        <div id="showdata"></div>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <div id="container" style="height: 600px"></div>
        </div>
    </div>

    {{ show_modal() }}

{% endblock %}

{% block external_js %}
    <!-- Highcharts JavaScript -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{ url_for('static', filename='js/chart_external_js_func/plot_3D_graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart_external_js_func/chart_external.js') }}"></script>
    <script src="{{ url_for('static', filename='js/get_doc_content.js') }}"></script>
{% endblock %}