{% from 'macros/show_modal.html' import show_modal %}
{% from 'macros/select_authors_and_docs.html' import select_authors_and_docs %}
{% extends 'template.html' %}
{% set active_page = 'charts' %}

{% block title %}{{ title }}{% endblock %}

{% block self_style %}
    <style>
        #container {
            height: 400px;
            min-width: 310px;
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body %}

    {{ select_authors_and_docs(authors_list) }}

    <div id="dimenison_select" class="row form-group" style="display: none;">
        <div class="col-lg-1">
            <select id="select_dimensions" class="form-control">
                <option value="ss">3d</option>
                <option value="s1">x-y</option>
                <option value="s2">y-z</option>
                <option value="s3">x-z</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <div id="container" style="height: 600px"></div>
        </div>
    </div>

    {{ show_modal() }}

{% endblock %}

{% block external_js %}
    <!-- Highcharts JavaScript -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{ url_for('static', filename='js/chart_external_js_func/scatter_graph_lib.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart_external_js_func/chart_external.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart_external_js_func/draw_graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/get_doc_content.js') }}"></script>
{% endblock %}