{% extends 'template.html' %}
{% set active_page = 'details' %}

{% block body %}
    <div class="row">
        <form method="post" action="compare-top" role="form">
            <div class="form-group">
                <label for="sel1">Select author (select one):</label>
                <select class="form-control" name="doc_id">
                    {% for row in doc_list %}
                        <option value="{{ row['doc_id'] }}">{{ row['doc_title'] }} - ({{ row['doc_id'] }})</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" class="btn btn-primary btn-lg" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}