{% extends 'template.html' %}
{% set active_page = 'details' %}

{% block body %}
    <div class="row">
        <h1>Document Title: {{ doc_title.decode('utf-8') }}</h1>
        <h2><i>Original Author</i> of the Query Document:</h2>
        <h2 style="color: darkblue;">{{ author.decode('utf-8') }}</h2>
        <h3>Total number of paragraphes: {{ no_of_paragraph }}</h3>
        <h3>The candidate authors of the query document are as follow</h3>
        <div class="col-lg-9">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Author Name</th>
                        <th>Probability</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in probability %}
                        <tr class="clickable-row"
                            style="cursor: pointer;">
                            <td>{{ row[1].decode('utf-8') }}</td>
                            <td>{{ row[2] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-9">
                {% if can_cnn %}
                    <button id="cnn_button" onclick="get_cnn()" class="btn btn-primary btn-lg">Apply CNN on the
                        candidate
                        authors above
                    </button>
                {% else %}
                    <h3>CNN query not support since the actual author is not in the above list</h3>
                {% endif %}
            </div>
            <h3 id="cnn_msg" style="display: none; color: red;">Please wait while the server is processing the CNN
                calculation.</h3>
            <div id="cnn_table" class="col-lg-9" style="display: none;">
                <h3>Result from CNN</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Author Name</th>
                            <th>Probability</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block external_js %}
    <script>
        function get_cnn() {
            $("#cnn_button").hide();
            $("#cnn_msg").show();
            $.ajax({
                type: "GET",
                url: "/cnn",
                dataType: "json",
                success: function (result) {
                    $tbody = $("#cnn_table").find("tbody");
                    $.each(result, function (key, value) {
                        $tbody.append("<tr><td>" + key + "</td><td>" + value + "</td></tr>");
                    });
                    $("#cnn_msg").hide();
                    $("#cnn_table").show();
                }
            });
        }
    </script>
{% endblock %}
