{% macro select_authors_and_docs(authors) -%}
    <div class="row" id="warning_banner" style="display: none">
        <div class="alert alert-warning col-lg-9">
            <strong>Warning! </strong>
            <i>At least 2 documents must be chosen for comparison.</i>
        </div>
    </div>

    <div class="row" id="display_doc_form" style="display: none;">
        <div class="col-lg-9">
            <form class="margin-bottom-40" role="form">
                <div class="form-group">
                    <table class="table table-striped" id="confirm_table">
                        <thead>
                        <tr>
                            <th>Author Name</th>
                            <th>Document Title</th>
                            <th>Read me</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Table content is to be inserted by JQuery -->
                        </tbody>
                    </table>
                </div>
                <div class="form-group" id="display_form_confirm" style="display: none;">
                    <button type="button" class="btn btn-success btn-md" id="compare" onclick="get_csv_by_doc_list();get_distance()">
                        Compare
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" id="author_doc_form">
        <div class="col-lg-9">
            <form class="margin-bottom-40" role="form">
                <div class="form-group" id="author_form">
                    <label>Select author (select one):</label>
                    <select class="form-control" name="author_select" id="author_select">
                        <option value="" selected>-- Choose an author from the list --</option>
                        {%- for row in authors %}
                            <option value="{{ row['author_id'] }}">{{ row['author_name'].decode('utf-8') }}</option>
                        {%- endfor %}
                    </select>
                </div>
                <div class="form-group" id="document_form" style="display: none;">
                    <label>Select a document written by this author:</label>
                    <select class="form-control" name="doc_select" id="doc_select"></select>
                </div>
                <button type="button" class="btn btn-primary btn-md" style="display: none;" id="submit"
                        onclick="add_rows_to_table()">Add to table
                </button>
            </form>
        </div>
    </div>

    <template id="author_docs">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </template>
{%- endmacro %}