{% extends 'template.html' %}

{% block body %}

    <div class="alert alert-danger">
        <h1>
            <strong>Alert!</strong>
            The server knows you are trying a backdoor on this system. But trust me, buddy, you will never find one
            because this server is as good as AlphaGo. We can even detect your malicious intention long before you
            decide to kick start it. Now, you are in trouble. Your devilish action, and of course, your ip address
            has been logged down. Recreational hackers, you may not even know what an ip address is, oh dear. For the
            others, even if you are using proxy or tor. We swear we will track you down. Haha, just kidding.
        </h1>
    </div>

{% endblock %}